<div class="contact-us">
        <h1>Love to Hear From You</h1>
        <div class="row">
            <div class="col-md-9">
                Phil-Kor.com A korean direct supplier for Korean groceries in a Wholesale price. Lighter in the pocket and good for the Business. help the upcoming buyer with the korean product. Phil-kor focuses on providing the most efficient market or platform as the products are easily will reach your target market. We will help customer to build up their own product list that will easily help them to order online.
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1624.7294606455337!2d120.88551701085933!3d14.411035008660106!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcc3b51beefd5a22d!2sKOREAN%20WHOLESALE%20GROCERY!5e0!3m2!1sen!2sph!4v1623581815517!5m2!1sen!2sph" width="100%" height="250" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
            <div class="col-md-3">
                <h3>Postal Address</h3>
                <p>
                    Lot 1514 Diversion<br />
                    Road Bacao ll EPZA Gate, 3<br>
                    General Trias,
                    Cavite
                    Philippines <br>
                    Pin code- 560037

                </p>
                <h3>Email</h3>
                <p><strong>Office:</strong>phil.korea01@gmail.com </p>
                <p><strong>Personal:</strong>phil.korea01@gmail.com </p>
                <h3>Phone</h3>
                <p><strong>Office:</strong>+63-930-5714-099</p>
            </div>
        </div>
        
</div>