.header {
  height: 5%;
  width: 100%;
  display: inline-block;
  vertical-align: top;
  position:fixed;
}

.subs {
  width: 95px;
}
.title{
    font-family:"Plak W01 Black";
    font-size:20px;font-style:normal;
    color:black;
}

th > #mainbutton:hover {
  font-family: "Times new roman";
  font-weight: bold;
  font-size: 15px;
  padding-top: 1px;
  width: 100%;
  height: 100%;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: black;
}
.title {
  font-family: "Plak W01 Black";
  font-size: 20px;
  font-style: normal;
  color: black;
}

.socdiv {
    height:100%;
  margin-top: 60px;
  margin-left: 3%;
  position: fixed;
}
.funclogo {
  padding: 25px;
  width: 25px;
  height: 25px;
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom:25px;
}

  .funclogo:hover {
    cursor: pointer;
    padding: 25px;
    width: 30px;
    height: 30px;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 25px;
  }
.soclogo {
  padding: 15px;
  margin-left:3%;
  width: 40px;
  height: 40px;
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.fblogo {
  background-image: url(../Images/fb.png);
}
.twitterlogo {
  background-image: url(../Images/twitter.png);
}
.ytlogo {
  background-image: url(../Images/yt.png);
}

.button {
  display: inline-block;
  width: 10px;
  border-radius: 50%;
  background-color: white;
  font-size: 14px;
  padding-bottom: 32px;
  padding-left: 32px;
  padding-right: 32px;
  height: 40px;
  line-height: 50px;
  text-align: center;
  color: black;
  text-decoration: none;
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.search-container {
  position: relative;
  display: inline-block;
  padding-left: 250px;
  height: 50px;
  width: 50px;
  vertical-align: bottom;
}

.mglass {
  display: inline-block;
  pointer-events: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
}

.searchbutton {
  margin-top: 5px;
  margin-left: 360px;
  font-size: 50px;
  width: 40px;
  padding: 0;
}

.search:focus + .searchbutton {
  transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  background-color: white;
  visibility: hidden;
}

.search:hover + .searchbutton {
  transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  background-color: white;
  visibility: hidden;
}

.search {
  margin: 5px -350px;
  position: absolute;
  border-radius: 18px;
  background-color: white;
  outline: none;
  border: none;
  padding: 0;
  width: 0;
  height: 80%;
  color: black;
  transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  font-weight: 100;
}

  .search:focus {
    width: 363px; /* Bar width+1px */
    padding: 0 10px 0 0;
  }

  .search:hover {
    width: 363px; /* Bar width+1px */
    padding: 0 10px 0 0;
  }

.expandright {
  left: auto;
  right: 0px; /* Button width-1px */
}

  .expandright:focus {
    padding: 0 0 0 16px;
  }

  .expandright:hover {
    padding: 0 0 0 16px;
  }
  .image{
      width:100%;
      height:100%
  }
