<footer class="site-footer">
  <div class="container">
    <div class="container">
      <div style='width:60%; margin-left:10%'>
        <h6>About</h6>
        <p class="text-justify">NLx.com <i>A very simple E-commerce </i> this is an initiative  to help the upcoming seller with the e-commerce. Nlx focuses on providing the most efficient market or platform as the products are easily will reach your target market. We will help customer to build up their own market that will easily help them to reach their target market</p>
      </div>

      <div style='width:10%;margin-left:4%'>
        <h6>Categories</h6>
        <ul class="footer-links">
          <li><a href="">Toy</a></li>
          <li><a href="">Electronics</a></li>
          <li><a href="">Phone</a></li>
          <li><a href="">Shoe</a></li>
          <li><a href="">Make up</a></li>
        </ul>
      </div>

      <div style='width:9%'>
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a href="">About Us</a></li>
          <li><a href="">Contact Us</a></li>
          <li><a href="">Contribute</a></li>
          <li><a href="">Privacy Policy</a></li>
          <li><a href="">Sitemap</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container" style='width:82%; margin-left:10%'><hr style="width: 100%;margin-top:5px;margin-bottom:5px;"></div>
  <div class="container">

    <div style='width:40x%; margin-left:10%'>
      <p class="copyright-text">
        E-Commerce Website using Angular &lt;Developed by Raineer Filosopo &gt;

      </p>
    </div>

    <div style='width:40%'>

    </div>

  </div>
</footer>
